%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th 交易日期  
      %th 交易笔数  
      %th 交易金额  
      %th 交易分润
  %tbody
  - @results.each do |r|
    %tr
      %td= r.trade_date
      %td= r.biz_count
      %td.num= number_with_delimiter '%.2f' % r.amount
      %td.num= number_with_delimiter '%.2f' % r.profit


