%ul.nav.nav-tabs#myTab
  %li
    %a{href: '#', tag: '/reports/monthly'} 月报
  %li
    %a{href: '#', tag: '/reports/daily'} 日报
  %li
    %a{href: '#', tag: '/reports/agents'} 代理

%canvas#chart_canvas{width: "840", height: "300"}
#report_content

= content_for :head do
  %script{src: "/css/chart.min.js"}
  :javascript
    var tt = null;
    $(function(){
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        var url = $(this).attr('tag');
        if (url!=null){
          $.get(url, function(data){ 
            $('#report_content').html(data); 
            $('#report_content table thead tr th:gt(0)').append(' <a onclick="myshow_diagram(this);"><i class="glyphicon glyphicon-signal"></i></a>')
          });
        }
      });
    });

    function myshow_diagram(lnk){
      show_diagram('chart_canvas', 'report_content', $(lnk).parent().index());
    }
