$('#report_content').html("<%=j render 'monthly' %>");
$('#report_content table thead tr th:gt(0)').append(' <a onclick="myshow_diagram(this);"><i class="glyphicon glyphicon-signal"></i></a>')
shared_init();


